.tsPageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 0 15px 0;
  padding: 0 5px;
}

.tsPageTitle {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 50px;
}

.tsPageTitle h2 {
  font-size: 22px;
  font-weight: 600;
  color: #222;
  margin: 0;
}
/* PAGE HEADER ICON IMAGE */
.tsPageIconImg {
  width: 38px;
  height: 38px;
  object-fit: contain;
  background: linear-gradient(135deg, #3c6ff7, #b84ef1);
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.12);
}

.tsDateRange {
  font-size: 14px;
  font-weight: 500;
  color: #444;
  margin-right: 45px;
}

.trackSalesPage {
  width: 100%;
  color: black;
  min-height: 100vh;
  background: white;
  font-family: "Poppins", sans-serif;
}

.tsContent {
  margin-left: 240px;
  width: calc(100% - 240px);
  margin-top: 110px;
}

.tsMainGrid {
  width: 90%;
  margin: 25px auto;
}

.tsStatCards {
  display: flex;
  gap: 25px;
  margin-bottom: 25px;
}

.tsCard {
  flex: 1;
  background: #fff;
  padding: 22px 22px;
  border-radius: 14px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.tsCardTitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.tsCard h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.tsGreen {
  color: #19b284;
  font-size: 13px;
  margin-top: 8px;
}

.tsChartBox {
  background: #fff;
  padding: 20px 25px;
  border-radius: 14px;
  margin-bottom: 25px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  background: linear-gradient(180deg, rgba(67, 121, 238, 0.16) 50%, rgba(255, 255, 255, 0.176942) 100%);

}

.tsChartBox h3 {
  margin-bottom: 12px;
  font-size: 16px;
}

.tsBottomGrid {
  display: flex;
  gap: 25px;
}

.tsPieCard,
.tsBarCard {
  flex: 1;
  color: black;
  background: #fff;
  padding: 22px;
  border-radius: 14px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.tsLegend {
  margin-top: 15px;
}

.tsLegendItem {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
}

.tsLegendItem span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.tsLegendItem p {
  font-size: 13px;
  color: #444;
}

.tsBarHeader {
  display: flex;
  justify-content: space-between;
}
.tsLegendRow {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 10px;
}

.tsLegendLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tsLegendDot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.tsLegendPercent {
  font-size: 14px;
  font-weight: 500;
  color: #555;
  margin-right: 10px;
}
@media (max-width: 992px) {

  .tsContent {
    margin-left: 200px;
    width: calc(100% - 200px);
  }

  .tsSearchBox {
    margin-left: 150px;
    width: 200px;
  }

  .tsStatCards {
    flex-wrap: wrap;
  }

  .tsStatCards .tsCard {
    flex: 1 1 calc(50% - 20px);
  }

  .tsBottomGrid {
    flex-direction: column;
  }

  .tsPieCard,
  .tsBarCard {
    width: 100%;
    height: 280px;
  }
}

/* Mobile */
@media (max-width: 768px) {

  .tsContent {
    margin-left: 0;
    width: 100%;
  }

  .tsTopbar {
    flex-wrap: wrap;
    padding: 10px;
  }

  .tsSearchBox {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }

  .tsStatCards {
    flex-direction: column;
  }

  .tsChartBox {
    height: 280px;
  }

  .tsBottomGrid {
    flex-direction: column;
  }

  .tsPieCard,
  .tsBarCard {
    width: 100%;
    height: 260px;
  }
}
