.upcoming-page {
  width: 100%;
  padding: 40px 60px;
  background: #ffffff;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}

.events-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.event-card {
  background: #fff;
  border-radius: 14px;
  position: relative;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.12);
  transition: 0.3s ease;
}

.event-card:hover {
  transform: translateY(-5px);
}

.event-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: orange;
  color: white;
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 6px;
  z-index: 5;
  font-weight: 600;
}

.event-image-wrapper {
  position: relative;
  width: 100%;
}

.event-image {
  width: 100%;
  height: 480px;   
  object-fit: cover;
  display: block;
}

.event-text-overlay {
  position: absolute;
  top: 70px;         
  left: 15px;
  z-index: 5;
  color: white;
}


.event-date {
  margin: 4px 0 0 0;
  font-size: 15px;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
}

.event-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #7e57c2, #5e35b1);
  padding: 12px;
  border-radius: 0 0 14px 14px;
  color: white;
}

.event-bottom-left {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.event-location-pill,
.event-time-pill {
  background: rgba(0, 0, 0, 0.25);
  padding: 4px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
}

.location-icon,
.time-icon {
  font-size: 14px;
}

.event-ticket-btn {
  background: #8c60f7;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .upcoming-page {
    padding: 20px;
  }

  .event-bottom-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
